pytest~=8.4.0
langchain~=1.0.2
langchain-community~=0.4.0
langsmith~=0.4.37
openai~=2.6.0
langchain-openai~=1.0.1
langchain-mongodb~=0.7.1
langchain-chroma~=1.0.0
pymongo~=4.12.0
langgraph~=1.0.1
langgraph-checkpoint-mongodb~=0.2.1
langgraph-api~=0.4.1
wikipedia~=1.4.0
langchain-google-community~=3.0.0
langchain-tavily~=0.2.11
markdownify~=1.2.0
beautifulsoup4~=4.13.5